<div class="gradient-form" style="width: 105%; margin-bottom: 50px;">
  <mat-card-header style="font-family: Montserrat; font-size: 16px; margin-bottom: 10px;">Собаки</mat-card-header>
  <div style="display: flex; justify-content: center;">
    <!-- Цикл для отображения списка собак -->
    <div class="dog-item" *ngFor="let dog of dogs">
      <img src="{{dog.base64Image}}" class="dog-image" (click)="onDogImageClick(dog)">
      <p>{{dog.name}}</p>
    </div>

    <div *ngIf="this.user && tokenUsername == this.user.username && !this.hideAddButton" style="display: block; justify-content: center; text-align: center;">
      <button mat-raised-button color="accent" class="user-button" style="width:120px; height: 120px; border-radius: 20%; font-size: 55px; margin-bottom: 5px; margin-left:2px; margin-right: 0;" (click)="onAddDogClick()">+</button>
      <p style="font-family: Montserrat; font-size:14px; color: white; margin: 0;">Добавить</p>
    </div>
  </div>
</div>
