<div class="register-form-flex">
  <mat-card style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
    <img src="..\..\..\..\assets\Security.png" alt="Logo" height="380" width="380" style="display: block; margin: 0 auto;">

    <mat-card-title style="font-family:'Montserrat', sans-serif; margin-bottom: 15px; margin-top: 10px; align-self: center;">
      Регистрация учетной записи
    </mat-card-title>
    <mat-card-content>

      <mat-form-field style="width: 350px;">
        <mat-label class="insert-label">Логин</mat-label>
        <input style="font-family: Montserrat" matInput name="username">
      </mat-form-field>

      <br/>

      <mat-form-field style="width: 350px">
        <mat-label class="insert-label">Пароль</mat-label>
        <input style="font-family: Montserrat" matInput name="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <br/>

      <mat-form-field style="width: 350px">
        <mat-label class="insert-label">Подтверждение пароля</mat-label>
        <input style="font-family: Montserrat" matInput  name="confirmPassword" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <br/>

      <mat-form-field style="width: 350px">
        <mat-label class="insert-label">Email</mat-label>
        <input style="font-family: Montserrat" matInput name="email">
      </mat-form-field>

      <br/>

      <mat-form-field style="width: 350px">
        <mat-label class="insert-label">Имя</mat-label>
        <input style="font-family: Montserrat" matInput name="firstName">
      </mat-form-field>

      <br/>

      <mat-form-field style="width: 350px">
        <mat-label class="insert-label">Фамилия</mat-label>
        <input style="font-family: Montserrat" matInput name="lastName">
      </mat-form-field>

      <br/>

      <mat-form-field style="width: 350px">
        <mat-label class="insert-label">Родной город</mat-label>
        <input style="font-family: Montserrat" matInput name="hometown">
      </mat-form-field>

      <br/>

      <mat-form-field style="width: 350px">
        <mat-label class="insert-label">О себе</mat-label>
        <textarea style="font-family: Montserrat" matInput name="description"></textarea>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions style="margin-top: -15px;">
      <!-- <div class="button-flex-container"> -->
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <div style="display: flex; align-items: center; flex-direction: column;">
            <span style="font-size: 12px; font-family: Montserrat;">Есть учетная запись?</span>
            <button mat-raised-button color="warn" class="user-button" style="margin-top: 5px; margin-right: 0;" routerLink="/login">Войти</button>
          </div>

          <div style="display: flex; align-items: end;">
            <button mat-raised-button color="primary" class="user-button" style="margin-left: 20px; margin-right: 0; width: 195px; font-size:14px">Зарегистрироваться</button>
          </div>
        </div>

    </mat-card-actions>
  </mat-card>
</div>
