<div *ngIf="dataLoaded">
  <mat-card *ngIf="user" class="gradient-form" style="width: 500px; margin-top:30px; margin-left: 10px; box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;">
    <mat-card-header class="header">
      <!-- <div mat-card-avatar class="avatar" [ngStyle]="{'background-image': 'url(../../../../assets/DefaultUserPic.png)'}"></div> -->
      <div class="header-content">
        <mat-card-title class="montserrat">{{ user.showname }}</mat-card-title>
        <mat-card-subtitle class="montserrat" *ngIf="mypage">(Это Вы)</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-divider style="background-color: #2c3c38; width: 150px; margin: 0 auto"></mat-divider>

    <div style="display: flex; justify-content: center;">
      <img mat-card-image *ngIf="mainImage && mainImage.base64Data; else defaultImage" [src]="mainImage.base64Data" alt="Avatar" style="border-radius: 10%; width:450px; height: 450px; object-fit: cover; margin-top: 30px;">
    </div>
    <ng-template #defaultImage>
      <div style="display: flex; justify-content: center;">
        <img mat-card-image src="../../../../assets/DefaultUserPic.png" alt="Avatar">
      </div>
    </ng-template>

    <mat-card-content class="white-text" style="font-size: 15px; margin-top: 30px;">
      <p>Родной город: {{ user.hometown }}</p>
      <p>Почта: {{ user.email }}</p>
      <p>О себе:</p>
      <p>{{ user.description }}</p>
    </mat-card-content>

    <mat-card-actions *ngIf="mypage" class="centered-actions">
      <button mat-raised-button color="" class="user-button" style="margin-top: 5px;" routerLink="/register">Изменить</button>
    </mat-card-actions>
  </mat-card>
</div>
