:host {
  display: flex;
  background-color: #faf0ca;
  min-height: 100vh;
  height: auto;
}


/* Стили для левой панели */
app-left-panel {
  flex: 0 0 auto; /* Левая панель не будет растягиваться */
  width: 200px; /* Устанавливаем ширину левой панели */
}

/* Стили для основного контента, который будет в центре */
main {
  flex: 1; /* Основной контент будет занимать доступное пространство */
  padding: 20px; /* Добавим отступы для контента */
}
