:host {
  display: flex;
  height: 100vh; /* 100% высоты */
  background-color: #faf0ca; /* Цвет фон */
}

/* Стили для левой панели */
app-left-panel {
  flex: 0 0 auto; /* Левая панель не будет растягиваться */
  width: 250px; /* Устанавливаем ширину левой панели */
  padding: 20px;
  background-color: #384d48; /* Цвет фона левой панели */
}

/* Стили для основного контента, который будет в центре */
main {
  flex: 1; /* Основной контент будет занимать доступное пространство */
  padding: 20px; /* Добавим отступы для контента */
}
