<div *ngIf="dog" style="font-size: 18px; font-family: 'Montserrat'; box-shadow: 0px 0px 25px rgba(0, 0, 0, 1.2);">
  <mat-tab-group style="background: #faf0ca;" mat-stretch-tabs="true" mat-align-tabs="center" dynamicHeight>
    <mat-tab label="Карточка собаки">
      <mat-card style="background: #faf0ca;">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title
              style="padding-right: 15px; font-size: 25px; padding-top: 15px; font-family: 'Montserrat';">{{this.data.dog.name}}</mat-card-title>

            <div style="padding-left: 5px; flex-direction: column; justify-content: center;">

              <div style="padding: 8px">
                <mat-card-content> Порода: {{this.data.dog.dogBreed}} </mat-card-content>
                <mat-card-content> Тип породы: {{this.data.dog.breedGroups}} </mat-card-content>

                <div style="text-align: center;">
                  <div class="divider-card"></div>
                </div>

                <mat-card-content>
                  <p>Размер: {{this.data.dog.size}}</p>
                  <p>Шерсть: {{this.data.dog.coat}}</p>
                </mat-card-content>

                <div style="text-align: center;">
                  <div class="divider-card"></div>
                </div>

                <mat-card-content style="text-align: start;">Описание породы: {{this.data.dog.breedDescription}}</mat-card-content>

              </div>
            </div>
          </mat-card-title-group>
        </mat-card-header>

        <div style="padding: 25px; background: transparent;">
          <ng-image-slider [images]="imageObject" [manageImageRatio]="true"
            [imageSize]="{width: 600, height: 500, space: 7}"></ng-image-slider>
        </div>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
