/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

.main {
  //background: linear-gradient(to right, #faf0ca 40%, #ffff);
  margin-left: -8px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.body {
  height: 100%;
  margin: 0;
  // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Montserrat';
}

.custom-button {
  width: 150px;
  margin-right: 10px;
}

.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}

.user-button {
  margin-right: 10px;
  width: 150px;
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 400;
}

.insert-label {
  font-family: Montserrat;
}

.white-text {
  color:white;
}

.gradient-form {
  background: linear-gradient(to bottom, #faf0ca, #2c3c38);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
}

.breed-card {
  margin-bottom: 20px;
  margin-right: 10px;
}

div .mat-mdc-tab {
  font-family: 'Montserrat' !important;
  font-size: 18px !important;
}

