<div *ngIf="breed" style="font-size: 18px; font-family: 'Montserrat'; box-shadow: 0px 0px 25px rgba(0, 0, 0, 1.2);">
  <mat-card style="background: #faf0ca;">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title style="padding-right: 15px; font-size: 25px; padding-top: 15px; font-family: 'Montserrat';">{{breed.name}}</mat-card-title>

        <div style="padding-left: 5px; flex-direction: column; justify-content: center;">

          <div style="padding: 8px">
            <mat-card-content> Тип породы: {{breed.breedGroups}} </mat-card-content>

            <div style="text-align: center;">
              <div class="divider-card"></div>
            </div>

            <mat-card-content>
              <p>Размер: {{breed.size}}</p>
              <p>Шерсть: {{breed.coat}}</p>
            </mat-card-content>

            <div style="text-align: center;">
              <div class="divider-card"></div>
            </div>

            <mat-card-content style="text-align: start;">Описание: {{breed.description}}</mat-card-content>


          </div>
        </div>
      </mat-card-title-group>
    </mat-card-header>

    <div style="padding: 25px; background: transparent;">
      <ng-image-slider
        [images]="imageObject"
        [manageImageRatio]="true"
        [imageSize]="{width: 600, height: 500, space: 7}"
      ></ng-image-slider>
    </div>

    <mat-card-actions style="display: flex; flex-direction: column; justify-content: flex-end; padding: 8px;">
      <button mat-raised-button color="primary" style="width: 100%; border-radius: 8px; font-family: 'Montserrat'; font-weight: 400; font-size: 15px;"
        (click)="closeDialog()">Закрыть</button>
    </mat-card-actions>
  </mat-card>
</div>
