.mat-icon {
  color: #ffffff;
  padding: 10px;
  vertical-align: middle;
}

.menu-span {
  color:#ffffff;
  font-size: medium;
  vertical-align: middle;
  font-family: 'Montserrat';
  align-items: center;
  justify-content: center;
}

.footer-word {
  text-align: center;
  color: #2c3c38;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 10pt;
}
